<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">
    <h1><%= @saludo %></h1>
        <h1><%= $usuarioNombre %></h1>
  
  </div>
</div>

<%= link_to "<button>Crear Pregunta</button>".html_safe, "admin/usuarios" %>
<br>
<br>
<%= link_to "<button>Crear Quizz</button>".html_safe, "admin/usuarios" %>
<br>
<br>
<%= link_to "<button>Crear Tema</button>".html_safe, "admin/usuarios" %>
<br>
<br>
<%= link_to "<button>Crear Temario</button>".html_safe, "admin/usuarios" %>
<br>
<br>
<%= link_to "<button>Prueba</button>".html_safe, "admin/usuarios" %>
<br>
<br>
<%= link_to "<button>Prueba</button>".html_safe, "admin/usuarios" %>
