<style>
table, th, td {
    border: 3px solid black;
}
</style>
<h1>Resultados de Quizz "<%=@quizz.nombre%>"</h1>
<%contador=0%>
<div>
  <table>
<% for i in (0..@cantidadpreguntas-1).step(2)%>

  <tr>
  <td>
<div id="<%=contador%>"><%=@chart[i].render()%></div>
</td>
<%contador=contador+1%>
<%if contador==@cantidadpreguntas%>

<%else%>
<td>
<div id="<%=contador%>"><%=@chart[i+1].render()%></div>
</td>
<%contador=contador+1%>
<%end%>
<%end%>
</table>
</div>
