
<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:2px;
border-color:#9CC2E0;
border-style:solid;
color:#F9F9F9;
}

 table.GeneratedTable th {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
}

table.GeneratedTable td {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
color:#000000;
}


table.GeneratedTable thead {
background-color:#5999CB;
text-align: center;
}
</style>

<div>
  <%= form_for :dashboard, :url => { :action => :filtrar} do |f| %>

<table border="0">
<tr>
  <td>
      <%= f.label "Grupo", :size => 100 %>

        <%= f.select(:temarioid,Temario.all.map{ |te| [ te.nombretemario, te.id ] }) %>
  <%= f.submit "Filtrar" %>



  <% end %>
</td>
<td>
  <%= link_to "<button class='button2'>Ver Temario</button>".html_safe, maestro_path %>
</td>
</tr>
</table>
</div>

  <br>
  <br>
<!-- HTML Code -->
<table class="GeneratedTable">
  <thead>
    <tr>
    <th>Alumnos</th>
    <%contador=1%>
    <%@grupoquizz.each do |e|%>
<%if e.iniciado==true%>
    <th>
      Quizz <%=contador%>
    </th>

    <%contador=contador+1%>
    <%end%>
      <%end%>
      <th>Grafica </th>
    </tr>
    </thead>
<tr>
<%@puntajes.each do |pun| %>
<td>
<%=pun%>
</td>
<%@grupoquizz.each do |gq|%>
<%@puntajequizz=Puntaje.where(codigo: gq.Codigo, alumno: pun)%>
<%if @puntajequizz.blank?%>

<td>
N/A
</td>
<%else%>
<%@puntajequizz.each do |pq|%>

<td>
<%=pq.puntaje%>
</td>


<%end%>
<%end%>
<%end%>
<td>
<%= link_to 'Ver Grafica',controller: "dashboard", action: "grafica", alumno: pun, grupo: @grupo %>
</td>
</tr>
<% end %>




</table>




<!-- Codes by HTML.am -->

<!-- CSS Code -->
