
<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:2px;
border-color:#9CC2E0;
border-style:solid;
color:#F9F9F9;
}

 table.GeneratedTable th {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
}

table.GeneratedTable td {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
color:#000000;
}


table.GeneratedTable thead {
background-color:#5999CB;
text-align: center;
}
</style>

<div>


<table border="0">
<tr>
  <td>
    <%=form_tag("grupo", method: "get") do%>
    <%=label_tag("Curso")%>
    <%=select_tag(:grupo, options_from_collection_for_select(@grupos, "id", "Nombre_grupo",@filtro))%>
    <%= submit_tag("Elegir") %>

          <%end%>
</td>
<td>
  <%= link_to "<button class='button2'>Ver Temario</button>".html_safe, maestro_path %>
</td>
</tr>
</table>
</div>

  <br>
  <br>
<!-- HTML Code -->
<%@promedio=0%>
<%@promediogeneral=0%>
<table class="GeneratedTable">
  <thead>
    <tr>
    <th>Alumnos</th>
    <%contador=1%>
    <%@grupoquizz.each do |e|%>
<%if e.iniciado==true%>
    <th>
      Quizz <%=contador%>
    </th>

    <%contador=contador+1%>
    <%end%>
      <%end%>
      <th>Promedio </th>
      <th>Grafica </th>
    </tr>
    </thead>
<tr>
<%@puntajes.each do |pun| %>
<td>
<%=pun%>
</td>
<%@grupoquizz.each do |gq|%>
<%@puntajequizz=Puntaje.where(codigo: gq.codigo_id, alumno: pun)%>
<%if @puntajequizz.blank?%>

<td>
N/A
</td>
<%else%>
<%@puntajequizz.each do |pq|%>

<td>
<%=pq.puntaje.round(2)%>
<%@promedio=@promedio+pq.puntaje%>
</td>


<%end%>
<td>
<%@promedio=(@promedio*1.0)/@puntajequizz.count%>
<%=@promedio.round(2)%>
<%@promediogeneral=@promediogeneral+@promedio%>
</td>
<%@promedio=0%>
<%end%>
<%end%>
<td>
<%= link_to 'Ver Grafica',controller: "dashboard", action: "grafica", alumno: pun, grupo: @grupo %>
</td>
</tr>
<% end %>
<tr>
<td>
Promedios Generales

</td>
<%@grupoquizz.each do |gq|%>

<%@promedios=Puntaje.where(codigo: gq.codigo_id)%>
<td>
  <%=@promedios.average(:puntaje).round(2)%>
</td>


<%end%>
<td>
<%=(@promediogeneral=(@promediogeneral*1.0)/@puntajes.count).round(2)%>
</td>
</tr>



</table>
