<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:2px;
border-color:#9CC2E0;
border-style:solid;
color:#F9F9F9;
}

 table.GeneratedTable th {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
}

table.GeneratedTable td {
border-width:2px;
border-color:#9CC2E0;
border-style:solid;
padding:10px;
color:#000000;
}


table.GeneratedTable thead {
background-color:#5999CB;
text-align: center;
}
</style>

<div>
  <%= form_for :dashboard, :url => { :action => :filtrar} do |f| %>

<table border="0">
<tr>
  <td>
      <%= f.label "Grupo", :size => 100 %>

        <%= f.select(:temarioid,Temario.all.map{ |te| [ te.nombretemario, te.id ] }) %>
  <%= f.submit "Filtrar" %>



  <% end %>
</td>
<td>
  <%= link_to "<button class='button2'>Ver Grupo</button>".html_safe, "maestro/grupo" %>
</td>
</tr>
</table>
</div>

  <br>
  <br>
<!-- HTML Code -->
<table class="GeneratedTable">
<thead>
  <tr>
  <th>Estatus</th>
  <th>Nombre</th>
  <th>Tema</th>
  <th>Fecha de inicio</th>
  <th>Resultados</th>
  <th>Nivel de Aprobación</th>
  <th>Ver Quizz</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>Terminado</td>
  <td>Introducción</td>
  <td>Bienvenido a fisica</td>
  <td>30/08/16 10:00 am</td>
  <td>

    <%=link_to image_tag("grafic.png", border: 0), {action: 'gestion', controller: 'dashboard'}, {class: 'dock-item'}%>



  </td>
  <td>95%</td>
  <td>Ver</td>

  </tr>
  <tr>
  <td><%= link_to 'No Iniciado', {:action => :iniciar}, data: {title:' Activar',confirm: 'Estas seguro de querer activar este quiz?',cancel:'Cancelar', commit: 'Confirmar'} %></td>
  <td>Introducción</td>
  <td>Bienvenido a fisica</td>
  <td> </td>
  <td></td>
  <td></td>
  <td>Ver</td>

  </tr>
</tbody>
</table>






<!-- HTML Code -->
