
<%= form_for :quizz, :url => { :action => :create} do |f| %>
<div class="field">
  <%= f.label "Introduzca el nombre del Quizz" %><br>
  <%= f.text_field :nombre %>
</div>

<div class="field">

  <%= label_tag(:disp, "¿El quizz esta disponible para usarse?") %>
  <%= f.check_box :disponible %>
</div>
<div class="field">

  <%= f.label "Elija un tema" %>
    <%= f.select(:temaid,@tema_options) %>
</div>

<div class="field">
  <br>
  <br>
  <%= f.label "Preguntas" %><br>
    <%= f.label "Esto es para generar los checkboxes, tengo que ponerle preguntas si uso preguntas_ids me dice que no encuentra el metodo" %><br>
    <%= f.collection_check_boxes :preguntas, Pregunta.all, :id, :texto do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label%>
      </div>
    <%end %>

  </div>
  <div class="actions">
    <%= f.submit "Guardar Quizz" %>
  </div>
<% end %>
