<h1>Bienvenido a QQ</h1>
  <h3><%= @mensaje %></h3>
<%= form_for :welcome, :url => { :action => :validar} do |f| %>

  <p>

    <%= f.text_field :usuarios, :placeholder => "Nombre de usuario" %>
  </p>

  <p>

    <%= f.password_field :contraseñas,:placeholder => "Contraseña" %>
  </p>

  <p>
    <%= f.submit "Entrar" %>
  </p>

  <% end %>
