<div align="center">
<h1> Respuestas</h1>
</div>
<br>



<style>



.button6 {
  background-color: #FF9811; /* Green */

  color: #F9F9F9;
  width: 30%;
    height: 60%px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;


   border-radius: 20px;
}



.button4 {width:40%;height:20%; color: black; font-size: 28px;} /* verde */

</style>


<div align="center">

<%if @aleatorio==1%>
<button id="1" class="button4" onclick="elegir(1)"><%=@pregunta.respuesta1%></button>
<br>
<br>
<button id="2" class="button4" onclick="elegir(2)"><%=@pregunta.respuesta2%></button>
<br>
<br>
<button id="3" class="button4" onclick="elegir(3)"><%=@pregunta.respuesta3%></button>
<br>
<br>
<button  id="4" class="button4" onclick="elegir(4)"><%=@pregunta.respuesta4%></button>
<br>
<br>

<%elsif @aleatorio==2%>

<button id="3" class="button4" onclick="elegir(3)"><%=@pregunta.respuesta3%></button>
<br>
<br>
<button id="1" class="button4" onclick="elegir(1)"><%=@pregunta.respuesta1%></button>
<br>
<br>
<button id="4" class="button4" onclick="elegir(4)"><%=@pregunta.respuesta4%></button>
<br>
<br>
<button  id="2" class="button4" onclick="elegir(2)"><%=@pregunta.respuesta2%></button>
<br>
<br>


<%elsif @aleatorio==3%>


<button id="4" class="button4" onclick="elegir(4)"><%=@pregunta.respuesta4%></button>
<br>
<br>
<button id="1" class="button4" onclick="elegir(1)"><%=@pregunta.respuesta1%></button>
<br>
<br>
<button id="2" class="button4" onclick="elegir(2)"><%=@pregunta.respuesta2%></button>
<br>
<br>
<button  id="3" class="button4" onclick="elegir(3)"><%=@pregunta.respuesta3%></button>
<br>
<br>

<%else%>


<button id="1" class="button4" onclick="elegir(1)"><%=@pregunta.respuesta1%></button>
<br>
<br>
<button id="4" class="button4" onclick="elegir(4)"><%=@pregunta.respuesta4%></button>
<br>
<br>
<button id="3" class="button4" onclick="elegir(3)"><%=@pregunta.respuesta3%></button>
<br>
<br>
<button  id="2" class="button4" onclick="elegir(2)"><%=@pregunta.respuesta2%></button>
<br>
<br>




<%end%>
<button class="button6" onclick="enviar()">Enviar Respuesta</button>



</div>

<script>
var eleccion="Nada";
function elegir(id){

var b1= document.getElementById('1').style.background="gray";
var b2= document.getElementById('2').style.background="gray";;
var b3= document.getElementById('3').style.background="gray";;
var b4= document.getElementById('4').style.background="gray";;

var select=document.getElementById(id).style.background="#009933";

if (id==1){

eleccion='<%=@pregunta.respuesta1%>';
}
else if (id==2){
eleccion='<%=@pregunta.respuesta2%>';


}
else if (id==3){

eleccion='<%=@pregunta.respuesta3%>';
}
else {

eleccion='<%=@pregunta.respuesta4%>';

}

}

function enviar(){

if (eleccion=='<%=@pregunta.respuesta1%>'){
var direccion= "<%= alumno_enviada_path(:idq => @quizz.id, :index => @index, :codigo => @codigo, :pregunta =>  @pregunta.id, :respuesta =>  @pregunta.respuesta1)  %>";

}
else if (eleccion=='<%=@pregunta.respuesta2%>'){

  var direccion= "<%= alumno_enviada_path(:idq => @quizz.id, :index => @index, :codigo => @codigo, :pregunta =>  @pregunta.id, :respuesta =>  @pregunta.respuesta2)  %>";

}

else if (eleccion=='<%=@pregunta.respuesta3%>'){

  var direccion= "<%= alumno_enviada_path(:idq => @quizz.id, :index => @index, :codigo => @codigo, :pregunta =>  @pregunta.id, :respuesta =>  @pregunta.respuesta3)  %>";

}

else if (eleccion=='<%=@pregunta.respuesta4%>'){

  var direccion= "<%= alumno_enviada_path(:idq => @quizz.id, :index => @index, :codigo => @codigo, :pregunta =>  @pregunta.id, :respuesta =>  @pregunta.respuesta4)  %>";

}
else {

  var direccion= "<%= alumno_enviada_path(:idq => @quizz.id, :index => @index, :codigo => @codigo, :pregunta =>  @pregunta.id, :respuesta =>  'SC' )  %>";

}
window.location.href = direccion;


}
var pusher = new Pusher('75159ef1c6a366266edb', {
encrypted: true
});
  var mensaje = pusher.subscribe('channel');
   mensaje.bind('cerrar', function(data) {
 enviar();
   });
   </script>
