<div align="center">
<h1> Respuestas</h1>
</div>
<br>



<style>
.button {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button6 {
  background-color: #FF9811; /* Green */

  color: #F9F9F9;
  width: 200px;
    height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;


   border-radius: 20px;
}

.button2 {width:200px;height:100px; color: black; font-size: 28px} /* azul */
.button3 {width:200px;height:100px; color: black; font-size: 28px;} /* violeta */
.button4 {width:200px;height:100px; color: black; font-size: 28px;} /* verde */
.button5 {width:200px;height:100px; color: black; font-size: 28px;} /* amarillo */
#clase {
font-size: 100px;
color: red;


}
</style>


<div align="center">

  <%= form_for :alumno, :url => { :action => :enviada} do |f| %>
  <%=f.hidden_field :Codigo, :value => @codigo %>
  <%=f.hidden_field :idq, :value => @quizz.id %>
  <%=f.hidden_field :index, :value => @index %>
  <%=f.hidden_field :pregunta, :value => @pregunta.id %>



  <%if @aleatorio==1%>

  <div class="field">
    <%=f.label style="clase", @pregunta.respuesta1 %>
    <%= f.radio_button :respuesta,1 %>
  </div>
  <div class="field">
    <%=f.label style="clase", @pregunta.respuesta2 %>
    <%= f.radio_button :respuesta,2 %>
  </div>
  <div class="field">
    <%=f.label style="clase", @pregunta.respuesta3 %>
    <%= f.radio_button :respuesta, 3%>
  </div>
  <div class="field">
    <%=f.label style="clase", @pregunta.respuesta4 %>
    <%= f.radio_button :respuesta, 4 %>
  </div>


<%elsif @aleatorio==2%>

<div class="field">
  <%=f.label style="clase", @pregunta.respuesta4 %>
  <%= f.radio_button :respuesta,4 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta1 %>
  <%= f.radio_button :respuesta,1 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta2 %>
  <%= f.radio_button :respuesta, 2%>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta3 %>
  <%= f.radio_button :respuesta, 3 %>
</div>


<%elsif @aleatorio==3%>

<div class="field">
  <%=f.label style="clase", @pregunta.respuesta3 %>
  <%= f.radio_button :respuesta,3 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta2 %>
  <%= f.radio_button :respuesta,2 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta4 %>
  <%= f.radio_button :respuesta, 4%>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta1%>
  <%= f.radio_button :respuesta, 1%>
</div>


<%else%>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta3 %>
  <%= f.radio_button :respuesta,3 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta4 %>
  <%= f.radio_button :respuesta,4 %>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta1 %>
  <%= f.radio_button :respuesta, 1%>
</div>
<div class="field">
  <%=f.label style="clase", @pregunta.respuesta4 %>
  <%= f.radio_button :respuesta, 4 %>
</div>




<%end%>
<div class="field">

<div class="actions">
  <%= f.submit "Enviar Respuesta" %>
</div>

 </div>
  <% end %>




<script>

var pusher = new Pusher('75159ef1c6a366266edb', {
encrypted: true
});
  var mensaje = pusher.subscribe('channel');
   mensaje.bind('event', function(data) {

   });
   </script>
</body>
